textarea {
    width: 500px;
    height: 300px;
    background-color: lightblue;
    font-size: 25px;
}
pre {
    width: 500px;
    height: 300px;
    background-color: lightgray;
    font-size: 25px;
}